#board {
    background-color: green;
    width: 80%;
    height: 100%;
}

#score {
    width: 20%;
    height: 100%;
}

.action {
    width: 15%;
    height: 80px;
    border-radius: 4%;
    background-color: blue;
    color: white;
    border: none;
}